/* Media Queries */
.txt {
    font-size: 50px;
}

.txt2 {
    font-size: 50px;
}

/* Les conditions remplies */
/* and: ET / ,: OU */
@media (max-width: 800px) and (min-width: 500px) {
    .txt {
        color: red;
    }
}

/* @media (max-width: 800px) {
    .txt {
        color: red;
    }
}

@media (min-width: 800px) {
    .txt {
        color: green;
    }
} */

@media print {
    .txt {
        color: blue;
    }
}

@media screen {
    .txt {
        text-decoration: underline 1px blue;
    }
}

/* Recherche vocal */
@media speech {
    .txt {
        color: blue;
    }
}

/* landscape OU portrait */
@media (orientation: landscape) {
    .txt2 {
        background: salmon;
    }
}

/* Texte Responsive */
.titre {
    font-size: 8vw;
}

.sousT {
    font-size: 5vw;
}

/* On peut utiliser les media queries si jamais à partir d'un certaine taille d'écran (mobile) on a un doute sur la taille du texte */
@media screen and (max-width: 400px) {
    .titre {
        font-size: 30px;
    }
}