body {
  margin: 0;
  padding: 0;
  background: #333;
  height: 100vh;
}

.box {
  background: #cd5c5c;
  width: 300px;
  height: 300px;
  margin: 30px;
  /* TRANSFORM */
  /* Translate sur x et y */
  /* transform: translate(50px, 50px); */
  /* Rotation en degré */
  /* transform: rotate(45deg); */
  /* Augmente la taille d'un élément */
  /* transform: scale(2); */
  /* Distortion */
  /* transform: skew(50deg); */
  /* matrix : mélange de tout */
  /* transform: matrix(1, 2, 3, 4); */
  /* Mélange de plusieurs transform */
  /* transform: scale(1.5) rotate(45deg); */
  /* Les transform ne fonctionnent pas sur les éléments de type inline comme span */

  /* TRANSITION */
  /* On peut aussi écrire en ms */
  transition-duration: 0.4s;
  /* On indique les propriétés qu'on a envie de changer */
  /* On peut aussi utiliser : all */
  /* transition-property: background, width; */
  /* Indique la façon dont se fait l'animation */
  /* linear : linéaire
  ease-in : début lent et rapide après
  ease-out : rapide vert le début + milieu et lent à la fin
  ease-in-out : lent début + fin et rapide au milieu */
  /* transition-timing-function: ease-in; */
  /* ease-in customisé */
  /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
  /* délai avant transition */
  /* transition-delay: 1s; */
  /* Toutes les trasitions en une propriété */
  /* transition: all 400ms ease-in-out 1s; */

  /* ANIMATION */
  position: absolute;
  animation-name: spinAndMove;
  animation-duration: 2s;
  /* Nombre d'itération, nombre ou infinite */
  /* animation-iteration-count: infinite; */
  /* forwards: garde l'élément à son animation de fin */
  /* animation-fill-mode: forwards; */
  /* Alterne du début à la fin et retourne à la fin */
  /* animation-direction: alternate; */
  /* animation-timing-function: ease-in; */
  animation: spinAndMove 2s infinite alternate ease-in;
}

span {
  font-size: 30px;
  color: #F1F1F1;
}

/* TRANSITION */
/* .box:hover {
  background: forestgreen;
  width: 400px;
} */

@keyframes spinAndMove {
  /* = from */
  0% {
    left: 0;
    top: 0;
    background: #cd5c5c;
  }

  /* = to */
  100% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    background: yellowgreen;
  }

  /* 100% {
    left: 0;
    top: 0;
    background: #cd5c5c;
  } */

}